<div class="mx-auto md:w-2/3 w-full">
  <p class="text-sm text-gray-500 mb-1"><%= @school.display_title %></p>
  <h1 class="font-bold text-4xl mb-5">Editar viagem</h1>
  <%= render "form", school: @school, trip: @trip %>
</div>
